@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: oklch(0.6681 0.1693 36.02);
  --color-primary-hover: oklch(0.507 0.185 33.43);
  --color-secondary: oklch(0.2367 0.0076 285.81);
  --color-tertiary: oklch(0.3608 0.0034 286.23);
  --font-sans: var(--font-roboto);
  --font-script: var(--font-script);
  --font-axiforma: var(--font-axiforma);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e22;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Esconder scrollbar mantendo funcionalidade */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
